@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* Inter (headings), Poppins (ui interactive), Nunito (paragraph) */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

@theme {
    --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    /* Define custom properties for your other fonts. */
    /* Using var(--font-sans) as a fallback is a great practice. */
    --font-heading: "Inter", var(--font-sans);
    --font-ui: "Poppins", var(--font-sans);
    --font-paragraph: "Nunito", var(--font-sans);
}

@layer utilities {
    .font-heading {
        font-family: var(--font-heading);
    }
    .font-ui {
        font-family: var(--font-ui);
    }
    .font-paragraph {
        font-family: var(--font-paragraph);
    }
}

@layer base {
    body {
        /* Apply your default body font to the entire site */
        @apply font-sans;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* Apply your heading font to all heading elements */
        @apply font-heading;
    }
}
